.cox{
    padding: 2%;
    position: relative;
    margin: auto;

}
.title{
    padding: 2%;
    position: relative;
    text-align: center;
    justify-content: center;
}
.top-btn{
    width: 15%;
    border-radius: 0%;
    position: relative;
    right: 0;
}